*
!Salcol_CE.module
!changelog.txt
!/Salcol_CE/data/attrib/
!/Salcol_CE/data/attrib/**

!/Salcol_CE/
!/Salcol_CE/**
/Salcol_CE/data/ai/
/Salcol_CE/data/ai/**
/Salcol_CE/data/art/
/Salcol_CE/data/art/**
/Salcol_CE/data/scar/
/Salcol_CE/data/scar/**
/Salcol_CE/Locale/
/Salcol_CE/Locale/**
/Salcol_CE/DataSalcol.sga
/Salcol_CE/DataSalcolAI.sga
/Salcol_CE/DataSalcolScenarios.sga
